:root {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form {
	display: inline-block;
	margin: 0 1em;
}

span {
	margin: 0 1em;
	font-size: 2em;
}
